#include <windows.h>

IDI_ICON1 ICON "icons/sysinfo_icon.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 3,1,0,0
 PRODUCTVERSION 3,1,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "Pivdenny\0"
            VALUE "FileDescription", "SysInfo\0"
            VALUE "FileVersion", "3.1.0.0\0"
            VALUE "InternalName", "SysInfo\0"
            VALUE "LegalCopyright", "\xA9 2026 Kyrylo Bitskyi for Pivdenny\0" // "\xA9" – ©
            VALUE "Comments", "Source code available at github.com/1minEpowMinX/SysInfo\0"
            VALUE "OriginalFilename", "SysInfo.exe\0"
            VALUE "ProductName", "SysInfo\0"
            VALUE "ProductVersion", "3.1.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        // en-US, ru-RU, uk-UA, all is Unicode UTF-16
        VALUE "Translation", 0x0409, 1200, 0x0419, 1200, 0x0422, 1200
    END
END
