[Desktop Entry]
Type=Application
Version=3.1.0
Name=SysInfo
Comment=Collects and displays system information
Exec=/opt/SysInfo/SysInfo
Icon=sysinfo
Terminal=false
Categories=Utility;System;
StartupNotify=true
X-GNOME-Autostart-enabled=true
Hidden=false
