[Desktop Entry]
Type=Application
Version=2.0
Name=SysInfo
Comment=Collects and displays system information
Exec=/usr/bin/SysInfo
Icon=sysinfo
Terminal=false
Categories=Utility;System;
StartupNotify=true
X-GNOME-Autostart-enabled=true
Hidden=false
